<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> You have a new user <%= @user.name %></h3>
    <p>
      ID Number: <%= @user.id %>
    </p>
    <p>
      email: <%= @user.email %>
    </p>
  </body>
</html>