<% @user ||= current_user %>
<a href="<%= following_user_path(@user) %>">
  <div class="profile__stat">
    <div class="profile__icon profile__icon--blue"><i class="fa fa-user-plus"></i></div>
    <div class="profile__value count" id="following"><%= @user.following.count %>
        <div class="profile__key">Following</div>
    </div>
  </div>
</a>
<a href="<%= followers_user_path(@user) %>">
  <div class="profile__stat">
    <div class="profile__icon profile__icon--green"><i class="fa fa-users"></i></div>
    <div class="profile__value count" id="followers"><%= @user.followers.count %>
        <div class="profile__key">Followers</div>
    </div>
  </div>
</a>