<div id="new-user" class="sign-up form-group">
    <h2><%= t(".title") %></h2>

  <%= form_for :user, url:'/users' do |form| %>
	<%= render partial: '/users/form', object: form %>
  <% end %>

</div>
