<div id="new-user" class="sign-up form-group">
  <br>
  <h2>Sign Up</h2>
  <br>
  <%= form_for :user, url:'/users', method: :POST do |form| %>
	<%= render partial: '/users/form', object: form %>
  <% end %>

</div>
