<div id="last-updated">
  <button class="pull-right btn-custom btn-custom-outline-primary ripple" onClick="history.go(0)">
    <strong> 
    	<i class="fa fa-repeat"></i>
    	<p class="pull-right"> Last Updated: <%= Time.now.strftime('%H:%M:%S') %></p>
    </strong>
  </button>
</div>