// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-index i{
	color: orange;
}
.table-index abbr{
	margin-left: 10px;
}

#last-updated{
    transition: 0.5s;
	strong{
		color: #337AB7;
	}
	p{
		padding-top: 5px;
	}

	i{
		margin-right: 10px;
		padding-top: 5px;
	}
}

