// ==========================================================
// ================ LANDING PAGE ============================
// ==========================================================

/* style.css */

.container-landing{
}

.banner{
  background-image: url("wallpaper.jpg");
  background-size: cover;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  
  color: white;
  text-shadow: 1px 1px 5px black;
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.banner-content{
  text-align: center;
  a, a:visited{
    color: white !important;
    text-decoration: none;
  }
}

.banner-content h1 {
  color: white;
  font-size: 50px;
}

.banner-content p {
  color: white;
  opacity: 0.7;
  font-size: 30px;
  font-weight: lighter;
}

.container-index{
  // background: rgba(255, 249, 192, 0.2); 
  // background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  h1{
    font-family: Courier;
    color: red;
    font-weight: lighter;
    font-size: 50px;
    text-shadow: 1px 1px 5px black;

  }
  h2 {
    font-family: Courier;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

  }
  a {
    color: lightblue;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: green;
  }


  .card{
    padding: 100px 50px;
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
  }
}

// Buttons signup/login

.btn-min-block {
    min-width: 170px;
}

.btn-theme {
    color: #fff;
    border: 2px solid white !important;
    margin-right: 15px;
    font-size: 20px !important;
    font-weight: 600 ;
    text-decoration: none;
}
.btn-theme:active{
  color: #fff !important;
}

.btn-theme:hover {
    color: #000 !important;
    background-color: #fff;
    border-color: #fff;
    text-shadow: none !important;
}

//=================================


//==========================================
//          FadeInUp Animation
//==========================================

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

//===========================================

#footer-index{
  margin: 0;
  padding: 80px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  a {
    color: lightgrey;
    font-size: 20px;
  }
  a:hover {
    color: white;
  }
  p{
    margin: 20px;
    font-size: 16px;
  }
  i{
    padding: 10px;
  }
}
