// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*========================================================================
                 USER EDIT PAGE 
 ========================================================================*/

.avatar-edit{
  width: 100%;
  height: auto;
  max-width: 200px;
  height: 200px;
	border-radius: 50%;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 2px 2px rgba(220,220,220,0.6);
}

#checkbox_user{
	margin-top: -18px;
}

// Following / Followers
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgrey;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* ......... Beat effect for icons (Small beat)..... */
.beat-less:hover {
  animation: 7s infinite beat-less;
}
@keyframes beat-less {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.025);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}



