// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*========================================================================
                 USER EDIT PAGE 
 ========================================================================*/

.avatar-edit{
  width: 100%;
  height: auto;
  max-width: 200px;
  height: 200px;
	border-radius: 50%;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 2px 2px rgba(220,220,220,0.6);
}

#checkbox_user{
	margin-top: -18px;
}

// Following / Followers
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgrey;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* ......... Beat effect for icons (Small beat)..... */
.beat-less:hover {
  animation: 7s infinite beat-less;
}
@keyframes beat-less {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.025);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

#layout-profile {
   // align-items: center;
   display: flex;
   justify-content: center;
   // height: 100vh;
   max-width: 80%;
}
 @keyframes popUp {
   from {
     transform: scale(0);
     opacity: 0;
  }
   to {
     transform: scale(1);
     opacity: 1;
  }
}
 @keyframes slideUp {
   from {
     transform: translateY(5px);
     opacity: 0;
  }
   to {
     transform: translateY(0px);
     opacity: 1;
  }
}

.profile {
   animation: popUp ease-in-out 350ms;
   background: #fff;
   border-radius: 25px;
   box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
   margin-top: 40px;
   padding: 28px 30px 30px 35px;
   position: relative;
   max-width: 80%;
}

.profile__account {
   align-self: center;
   display: flex;
   flex: 1;
   justify-content: flex-end;
   padding-left: 135px;
}
 
.profile__button {
   border-radius: 50px;
   border: 1px solid #000;
   color: #000;
   display: block;
   font-family: 'Montserrat', sans-serif;
   font-size: 13px;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   transition: ease-in-out 250ms background, ease-in-out 250ms color;
   &:hover {
     background: #000 !important;
     color: #fff !important;
   }
}

.profile__edit {
   flex: none;
   margin-left: 30px;
   width: 140px;
}

.profile__header {
   display: flex;
   margin-bottom: 20px;
}

.profile__icon {
   flex: none;
   font-size: 1.5em;
   margin-right: 10px;
   padding-top: 3px;
}

.profile__icon--gold {
   color: #eab100;
}

.profile__icon--blue {
   color: #8faae8;
}

.profile__icon--green {
   color: #9ECDA8;
}

.profile__key {
   font-family: 'Montserrat', sans-serif;
   font-size: 13px;
   font-weight: 400;
   text-align: center;
}

.profile__picture {
   background: #fff;
   border-radius: 100px;
   border: 10px solid #fff;
   height: 125px;
   position: absolute;
   top: -40px;
   width: 125px;
}

.profile__picture:before {
   border-radius: 100px;
   box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
   content: "";
   height: calc(100% + 20px);
   left: -10px;
   position: absolute;
   top: -10px;
   width: calc(100% + 20px);
   z-index: -1;
}

.profile__picture img {
   border-radius: 100px;
   height: 100%;
   width: 100%;
}

.profile__stat {
   animation: slideUp ease-in-out 350ms forwards;
   border-right: 1px solid #e9e9e9;
   display: flex;
   flex: 1;
   justify-content: center;
   opacity: 0;
   padding: 10px 4px;
   transform: translateY(5px);
}

.profile__stat:last-of-type {
   border-right: none;
}

.profile__stat:nth-child(1) {
   animation-delay: 400ms;
}

.profile__stat:nth-child(2) {
   animation-delay: 500ms;
}

.profile__stat:nth-child(3) {
   animation-delay: 600ms;
}

.profile__stats {
   display: flex;
}

.profile__username {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   margin: 0;
   text-align: right;
}

.profile__value {
   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
   font-weight: 700;
   text-align: center;
}

