<div class="row">
	<div class="col-md-6">
      <%= label_tag "Total Amount to debit: " %>
      <input type="number"  id="total-amount"  value="" readonly="readonly" />
      <p id="error-amount" style="visibility: hidden; color: red" class="text-center"> Not enough funds, reduce the quantity.</p>
	</div>
	<div class="col-md-6">
      <%= label_tag "Total Amount Available: " %>
      <input type="number"  id="total-amount-available" value="<%=current_portfolio.balance.to_d.round(2)%>" readonly="readonly" />
	</div>
</div>
