<div class="panel panel-default">
	<div class="panel-heading">
		<h4><strong>New Order</strong></h4>
	</div>
	<div class="panel-body">

		<%= render 'form_edit', crypto: @crypto %>

	</div>

	<div class="panel-footer" id="total-amount-footer">
		<br>
		<%= render 'totals' %>
	</div>
</div>
