<div class="panel panel-default">
	<div class="panel-heading">
		<h4><strong>New Order</strong></h4>
		
	</div>
	<div class="panel-body">
		
		<p> Choose the currency: </p>
		<% array_names = @coins.map {|c| c['symbol']} %>
		<% array_prices = @coins.map{|c| c['price_usd']} %>
      	<% @user_coins = [] %>
		<% @cryptos.each do |crypto| %>
      		<% if crypto.user_id == current_user.id %>
      			<% @user_coins.push((crypto['symbol'])) unless @user_coins.include?((crypto['symbol'])) %>
			<% end %>
		<% end %>
		
		<%= select(:model, :coin, @coins.map {|c| [c['symbol'] + " | " + c['name'] + " | " + c['price_usd']]},{:prompt => 'Symbol | name'}, id:"new-order", onchange: "showForm('#{array_names}', '#{@user_coins}', '#{array_prices}')" , class: "custom-select") %> <br><br>

		<div id='form-new' style='visibility: hidden'>
			<%= render 'form', crypto: @crypto %>
		</div>
	</div>

	<div class="panel-footer" id="total-amount-footer" style='visibility: hidden;'>
		<br>
		<%= render 'totals' %>
	</div>
</div>	
